/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Navbar Start */

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  background-color: #146C93;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  padding: 16px;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4rem;
  margin-right: 14rem;
}

.navbar-content li {
  list-style: none;
}

.navbar-content a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.navbar-content a:hover{
  background-color: #125c7c;
  padding: 12px;
  border-radius: 10px;
}

.navbar-title{
  display: flex;
  align-items: center;
  margin-left: 8rem;
  font-weight: 700;
  font-size: x-large;
  color: white;
  text-decoration: none;
}

.navbar-title:hover{
  background-color: #125c7c;
  border-radius: 10px;
  cursor: default;
  padding: 8px 16px;
}

/* Navbar End */

/* Homepage Start */

/* Top Layout Start */

.toplayout {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #146C93;
  padding: 24px;
  padding-top: 6rem;
  min-height: 80vh;
}

.toplayout h1, p{
  color: white;
}

.toplayout-text {
  width: 23%;
}

.toplayout-img {
  background-color: #F6F882;
  width: 30%;
  height: 30%;
  border-radius: 240px;
}

.btn {
  margin-top: 2rem;
  padding: 16px 32px;
  background-color: #19A7CD;
  border: none;
  border-radius: 10px;
  color: white;
}

.btn:hover {
  background-color: #178fb1;
  padding: 18px 34px;
  cursor: pointer;
}

/* Top Layout End */

/* Mid Layout1 Start */

.midlayout1 {
  display: flex;
  flex-direction: column;
  background-color: #19A7CD;
  padding: 4rem 12rem;
  justify-content: center;
  text-align: center;
  color: white;
}

/* Mid Layout1 End */

/* Mid Layout2 Start */

.midlayout2 {
  display: flex;
  flex-direction: column;
  background-color: #146C93;
  justify-content: center;
  align-items: center;
  padding: 4rem 12rem;
  color: white;
}

.midlayout2 li {
  list-style-type: decimal;
}

/* Mid Layout2 End */

/* Footer Layout Start */

.footerlayout {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #19A7CD;
  justify-content: center;
  align-items: center;
  padding: 4rem 12rem;
  color: white;
  gap: 2rem;
}

.materi-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #19A7CD;
  justify-content: center;
  align-items: center;
  gap: 4rem;  
}

.rounded1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #146C93;
  height: 200px;
  width: 150px;
  border-radius: 20px;
}

.rounded1 img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rounded1 p {
  color: white;
  font-weight: 800;
  position: relative;
  bottom: 10%;
}


.rounded1:hover {
  background-color: #1b86b4;
  cursor: pointer;
  height: 210px;
  width: 160px;
}

.rounded2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #146C93;
  height: 200px;
  width: 150px;
  border-radius: 20px;
}

.rounded2 p {
  color: white;
  font-weight: 800;
  text-align: center;  
  position: relative;
  bottom: 10%;
}

.rounded2 img {
  width: 100%;
  position: relative;
  top: 5%;
}

.rounded2:hover {
  background-color: #1b86b4;
  cursor: pointer;
  height: 210px;
  width: 160px;
}

.rounded3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #146C93;
  height: 200px;
  width: 150px;
  border-radius: 20px;
}

.rounded3 p {
  color: white;
  font-weight: 800; 
  position: relative;
  bottom: 10%; 
}

.rounded3 img {
  width: 100%;
}

.rounded3:hover {
  background-color: #1b86b4;
  cursor: pointer;
  height: 210px;
  width: 160px;
}

/* Footer Layout End */

/* Homepage End */

/* Gamemembaca Start */

.gamemembaca {
  background-color: #146C93;
  height: 100vh;  
}

.gamemembaca-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  top: 10%;
}

.gamemembaca-container button {
  padding: 16px;
  margin: 8px 32rem;
  background-color: #7bc6e6;
  border-radius: 80px;
  border: 0px;
  font-size: 18px;
  font-weight: 700;
}

.gamemembaca-container button:hover {
  padding: 18px;
  margin: 8px 31rem;
  background-color: #4fbae7;
  border-radius: 80px;
  border: 0px;
  cursor: pointer;
}

.gamemembaca-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 8rem;
  margin-right: 8rem;
  border-radius: 45px;
}

.gamemembaca-wrap1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.gamemembaca-wrap1 img {
  width: 15%;
}

.gamemembaca-wrap1 h1 {
  font-size: 4rem;
}

.gamemembaca-wrap2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.gamemembaca-wrap2 img {
  width: 15%;
}

.gamemembaca-wrap2 .text {
  width: 25%;
}